<!DOCTYPE html>

<html>
<head>
    <title>LaundryBooker WebApp</title>
    <script src="~/Scripts/jquery.js"></script>
</head>

<body>
<div>
    @RenderBody()
</div>
</body>

</html>

@await RenderSectionAsync("Scripts", false)