@model LaundryBooker.Web.ViewModels.BuildingViewModel

@using (Html.BeginForm("Schedule", "Home", FormMethod.Post))
{
    <label>Välj byggnad:</label>
    @Html.DropDownListFor(b => b.LaundryRoomId, new SelectList(Model.Buildings, "LaundryRoomId", "BuildingName"))

    <input type="submit" value="Gå till schema" />
}